<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kalam:300,400,700|Nothing+You+Could+Do" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/collections.css">

    <title>Not A Stranger</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand hoverTextNav" href="/">NOT A STRANGER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <% if(currentUser) { %>
      <li class="nav-item active">
      <% if(typeof(stranger) !== 'undefined') { %>
        <a class="nav-link hoverTextNav" href="/lists/<%= list._id %>/strangers/new">New Stranger <span class="sr-only">(current)</span></a>
      <% } else {%>
        <a class="nav-link hoverTextNav" href="/lists/new">New Collection <span class="sr-only">(current)</span></a>
      <% } %>
      </li>
        <% if (currentUser.isAdmin) { %>
        <li class="nav-item active">
          <a class="nav-link hoverTextNav" href="/lists/all"><i class="fas fa-unlock-alt"></i> Show All Collections <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link hoverTextNav" href="/users"><i class="fas fa-unlock-alt"></i> Show Users <span class="sr-only">(current)</span></a>
        </li>
      <% } %>
    <% } %>
    </ul>
    <ul class="navbar-nav">
      <% if (!currentUser) { %>
        <li class="nav-item active">
          <a class="nav-link hoverTextNav" href="/register">Register<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link hoverTextNav" href="/login">Login<span class="sr-only">(current)</span></a>
        </li>
      <% } else { %>
      <li class="nav-item active">
        <% if(currentUser.isAdmin) { %>
          <a class="nav-link hoverTextNav" href="/user/<%= currentUser._id %>"><i class="fas fa-unlock-alt"></i> Logged in as <%= currentUser.username %><span class="sr-only">(current)</span></a>
        <% } else { %>
          <a class="nav-link hoverTextNav" href="/user/<%= currentUser._id %>">Logged in as <%= currentUser.username %><span class="sr-only">(current)</span></a>
        <% } %>
      </li>
      <li class="nav-item active">
        <a class="nav-link hoverTextNav" href="/logout">Logout<span class="sr-only">(current)</span></a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
  <% if(error && error.length>0){ %>
    <div class='container'>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
    </div>
  <% } %>
  <% if(success && success.length>0){ %>
  <div class='container'>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
  </div>    
  <% } %>
  <div class='container'>