<h1>SHOW PAGE</h1>

<div>
    <ul>
        <li><strong><%= stranger.firstName + " " + stranger.lastName%></strong></li>
        <li><%= stranger.meetArea %></li>
        <li><%= stranger.occupation %></li>
        <li><%= stranger.age %></li>
        <li><%= stranger.bio %></li>
    </ul>
    <button>Edit</button>
    <button>Delete</button>
</div>