<% include ./partials/header %>

<h3>Main List</h3>
<table class="table">
    <tr>
        <th>Name</th>
        <th>First Encounter</th>
        <th>Occupation</th>
        <th>Age</th>
    </tr>
    <% stranger.forEach(function(stranger){ %>
        <tr>
            <td><a href="/strangers/<%= stranger._id %>"><strong><%= stranger.firstName + " " + stranger.lastName%></strong></a></td>
            <td><%= stranger.meetArea %></td>
            <td><%= stranger.age %></td>
            <td><%= stranger.bio %></td>
        </tr>
    <% }) %>
</table>

<% include ./partials/footer %>