<% include ../partials/header %>

<div class="row">
    <div class="col-12">
        <h1 class="formHeader">Editing <%= stranger.firstName + " " + stranger.lastName %></h1>
    </div>
</div>      

<form action="/lists/<%= list._id %>/strangers/<%= stranger._id %>/?_method=PUT" method="POST" id="stranger-edit">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
                <h5>General</h5>
                <div class="form-group-border">
                    <label for="firstName">Firstname</label>
                    <input class="form-control" type="text" name="stranger[firstName]" value="<%= stranger.firstName %>" required>
                    <span>Enter the first name here</span>
                    <label for="lastName">Surname</label>
                    <input class="form-control" type="text" name="stranger[lastName]" value="<%= stranger.lastName %>">
                    <span>Enter the surname here</span>
                    <label for="race">Race</label>
                    <input class="form-control" type="text" name="stranger[race]" value="<%= stranger.race %>">
                    <span>Enter the race here</span>
                    <label for="nation">Nationality</label>
                    <input class="form-control" type="text" name="stranger[nation]" value="<%= stranger.nation %>">
                    <span>Enter the nationality here</span>
                    <label for="meetArea">First encountered</label>
                    <input class="form-control" type="text" name="stranger[meetArea]" value="<%= stranger.meetArea %>">
                    <span>Enter first encounter here</span>
                    <label for="mentality">Mentality/Life goal</label>
                    <input class="form-control" type="text" name="stranger[mentality]" value="<%= stranger.mentality %>"> 
                    <span>Enter life goals or mentality here</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
                <h5>Appearance</h5>
                <div class="form-group-border">
                    <label for="age">Age</label>
                    <input class="form-control" type="number" name="stranger[age]" value="<%= list.currentAge - stranger.born %>">
                    <span>Enter the age here</span>
                    <input type="hidden" type="number" name="stranger[currentAge]" value="<%= list.currentAge %>">
                    <label for="height">Height</label>
                    <input class="form-control" type="number" name="stranger[height]" value="<%= stranger.height %>">
                    <span>Enter the height in centimeters here</span>
                    <label for="weight">Weight</label>
                    <input class="form-control" type="number" name="stranger[weight]" value="<%= stranger.weight %>">
                    <span>Enter the weight in kilograms here</span>
                    <label for="build">Build</label>
                    <input class="form-control" type="text" name="stranger[build]" value="<%= stranger.build %>"> 
                    <span>Enter the build here</span>

                    <label for="eye">Eye color</label>
                    <select class="form-control" id="eye" name="stranger[eye]">
                        <option value="<%= stranger.eye %>"><%= stranger.eye %></option>
                        <option value=""></option>
                        <option value="Blue">Blue</option>
                        <option value="Brown">Brown</option>
                        <option value="Green">Green</option>
                        <option value="Black">Black</option>
                        <option value="Purple">Purple</option>
                        <option value="Red">Red</option>
                    </select>
                    <span>Select eye color here</span>    

                    <label for="hair">Hair color</label>
                    <select class="form-control" id="hair" name="stranger[hair]">
                        <option value="<%= stranger.hair %>"><%= stranger.hair %></option>
                        <option value=""></option>
                        <option value="Blond">Blond</option>
                        <option value="Brown">Brown</option>
                        <option value="Black">Black</option>
                        <option value="Red">Red</option>
                        <option value="White">White</option>
                        <option value="Purple">Purple</option>
                    </select>
                    <span>Select hair color here</span> 
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
                <h5>Family</h5>
                <div class="form-group-border">
                    <label for="socialRank">Social rank</label>
                    <input class="form-control" type="text" name="stranger[socialRank]" value="<%= stranger.socialRank %>">
                    <span>Enter the social rank here</span>
                    <label for="occupation">Occupation</label>
                    <input class="form-control" type="text" name="stranger[occupation]" value="<%= stranger.occupation %>">
                    <span>Enter occupation here</span>
                    <label for="family">Family</label>
                    <textarea class="form-control correctAlignment" rows="4" cols="50" name="stranger[family]" form="stranger-edit"><%= stranger.family %></textarea> 
                    <span>Enter some or all family here</span>
                    <label for="bio">General info</label>
                    <textarea class="form-control correctAlignment" rows="4" cols="50" name="stranger[bio]" form="stranger-edit"><%= stranger.bio %></textarea>
                    <span>Enter some general info here</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
                <h5>Stats and equipment</h5>
                <div class="form-group-border">
                    <label for="skills">Skills</label>
                    <textarea class="form-control correctAlignment" rows="6" cols="50" name="stranger[skills]" form="stranger-edit"><%= stranger.skills %></textarea> 
                    <span>Enter some or all skills here</span>
                    <label for="equipment">Equipment</label>
                    <textarea class="form-control correctAlignment" rows="5" cols="50" name="stranger[equipment]" form="stranger-edit"><%= stranger.equipment %></textarea>
                    <span>Enter some equipment here</span>

                    <label for="group">Group affiliation</label>
                    <select class="form-control" id="group" name="stranger[group.id]">
                            <% 
                                let strGrpName;
                                if(!strangerGroup) { 
                                strGrpName = "";
                            } else {
                                strGrpName = strangerGroup.name;
                            }
                            %>
                        <option value="<%= stranger.group.id %>"><%= strGrpName %></option>
                        <option value="000000000000000000000000"></option>
                        <% group.forEach((group) => { %>
                            <option value="<%= group._id %>"><%= group.name %></option>
                        <% }) %>
                    </select>
                    <span>Select group affiliation here</span>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-lg btn-dark btn-block submitButton">Edit <%= stranger.firstName + " " + stranger.lastName %></button>
        </div>
    </div>   
</form>

<div class="row">
    <div class="col-12">
        <a class="btn btn-sm btn-dark backButton" href="/lists/<%= list._id %>/">Back</a>
    </div>
</div>

<% include ../partials/footer %>