<% include ../partials/header %>

<div class="container">
    <div class="centeredDiv" style="margin: 20px auto;">
        <h5 class="display-4"><%= stranger.firstName + " " + stranger.lastName%></h5>
        <table class="table">
            <tr>
                <th>Race:</th>
                <td><%= stranger.race %></td>
            </tr>
            <tr>
                <th>Nationality:</th>
                <td><%= stranger.nation %></td>
            </tr>
            <tr>
                <th>First met:</th>
                <td><%= stranger.meetArea %></td>
            </tr>
            <tr>
                <th>Occupation:</th>
                <td><%= stranger.occupation %></td>
            </tr>
            <tr>
                <th>Age:</th>
                <td><%= list.currentAge - stranger.born %></td>
            </tr>
            <tr>
                <th>Eye Color:</th>
                <td><%= stranger.eye %></td>
            </tr>
            <tr>
                <th>Bio:</th>
                <td><%= stranger.bio %></td>
            </tr>
        </table>
        <a class="btn btn-sm btn-info left-align-button" href="/lists/<%= list._id %>/">Back</a>
        <br>

        <% if (currentUser && stranger.author.id.equals(currentUser._id)) { %>
            <a class="btn btn-warning btn-sm" href="/lists/<%= list._id %>/strangers/<%= stranger._id %>/edit">Edit</a>
            <a class="btn btn-danger btn-sm showButton" href="#">Delete</a>

            <div class="confirmForm hidden">
                <form id="form">
                    <input class="form-control-sm" type="text" name="confirmText" aria-describedby="textConfirm">
                    <small id="textConfirm" class="form-text text-muted">
                    Type First Name To Confirm
                    </small>
                    <input type="hidden" name="equals" value="<%= stranger.firstName %>">
                </form>
                <form class="btn-inline hidden deleteButton" action="/lists/<%= list._id %>/strangers/<%= stranger._id %>/?_method=DELETE" method="POST">
                    <button class="btn btn-danger btn-sm confirmDelete" >Confirm</button>
                </form>
            </div>
        <% } %>         
    </div>
</div>

<script src="/scripts/confirm.js"></script>
<% include ../partials/footer %>