<% include ../partials/header %>

<div class="filter"></div>
<div class="row">
    <div class="col-12">
        <h1 class="formHeader"><%= stranger.firstName + " " + stranger.lastName %></h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p style="color: white;"><%= group %></p>
    </div>
</div>

    <div class="row">
        <div class="col-md-12 infoContainer">
            <div class="row justify-content-center">

            <% if(stranger.race && stranger.race !== "") { %>
            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">                
                <h6>Race</h6>
                <p><%= stranger.race %></p>    
            </div>
            <% } %>

            <% if(stranger.nation && stranger.nation !== "") { %>
            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">    
                <h6>Nationality</h6>
                <p><%= stranger.nation %></p> 
            </div>
            <% } %>

            <% if(stranger.meetArea && stranger.meetArea !== "") { %>
            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">            
            <h6>First encountered</h6>
            <p><%= stranger.meetArea %></p>            
            </div>
            <% } %>

            <% if(stranger.mentality && stranger.mentality !== "") { %>
            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">                
                <h6>Mentality/Life goal</h6>
                <p><%= stranger.mentality %></p>                
            </div>
            <% } %>

            <% if(stranger.born && list.currentAge - stranger.born !== 0) { %>
            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">         
                <h6>Age</h6>
                <p><%= list.currentAge - stranger.born %></p>        
            </div>
            <% } %>

            <% if(stranger.height && stranger.height !== 0) { %>
            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">      
                <h6>Height</h6>
                <p><%= stranger.height %>cm</p>        
            </div>
            <% } %>

            <% if(stranger.weight && stranger.weight !== 0) { %>
            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">        
                <h6>Weight</h6>
                <p><%= stranger.weight %>kg</p>  
            </div>
            <% } %>

            <% if(stranger.build && stranger.build !== "") { %>
            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">      
                <h6>Build</h6>
                <p><%= stranger.build %></p>       
            </div>
            <% } %>

            <% if(stranger.eye && stranger.eye !== "") { %>
            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">       
                <h6>Eye color</h6>
                <p><%= stranger.eye %></p>      
            </div>
            <% } %>

            <% if(stranger.hair && stranger.hair !== "") { %>
            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">          
                <h6>Hair color</h6>
                <p><%= stranger.hair %></p>      
            </div>
            <% } %>

            <% if(stranger.socialRank && stranger.socialRank !== "") { %>
            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">   
                <h6>Social rank</h6>
                <p><%= stranger.socialRank %></p>  
            </div>
            <% } %>

            <% if(stranger.occupation && stranger.occupation !== "") { %>
            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">  
                <h6>Occupation</h6>
                <p><%= stranger.occupation %></p>  
            </div>
            <% } %>

            <% if(stranger.family && stranger.family !== "") { %>
            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">         
                <h6>Family</h6>
                <p><%= stranger.family %></p>        
            </div>
            <% } %>

            <% if(stranger.bio && stranger.bio !== "") { %>
            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">       
                <h6>General info</h6>
                <p><%= stranger.bio %></p>     
            </div>
            <% } %>

            <% if(stranger.skills && stranger.skills !== "") { %>
            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">     
                <h6>Skills</h6>
                <p><%= stranger.skills %></p>    
            </div>
            <% } %>

            <% if(stranger.equipment && stranger.equipment !== "") { %>
            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">    
                <h6>Equipment</h6>
                <p><%= stranger.equipment %></p>     
            </div>
            <% } %>
            
            <% if(group && group.name !== "") { %>
            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">    
                <h6>Group affiliation</h6>
                <p><%= group.name %></p>
            </div>
            <% } %>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <% if (currentUser && stranger.author.id.equals(currentUser._id)) { %>
            <a class="btn btn-dark btn-sm editButton" href="/lists/<%= list._id %>/strangers/<%= stranger._id %>/edit">Edit</a>
            <a class="btn btn-dark btn-sm deleteButton" href="#">Delete</a>

            <div class="confirmForm hidden">
                <form class="formHidden">
                    <input class="form-control-sm" type="text" name="confirmText" aria-describedby="textConfirm" autocomplete="off" autofocus>
                    <small class="textConfirm" class="form-text text-muted">
                    Type First Name To Confirm
                    </small>
                    <input type="hidden" name="equals" value="<%= stranger.firstName %>">
                </form>
                <form class="btn-inline hidden confirmButton" action="/lists/<%= list._id %>/strangers/<%= stranger._id %>/?_method=DELETE" method="POST">
                    <button class="btn btn-danger btn-sm confirmDelete" >Confirm</button>
                </form>
            </div>
        <% } %>   
    </div>      
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-sm btn-info backButton" href="/lists/<%= list._id %>/">Back</a>
    </div>
</div>

<script src="/scripts/confirm.js"></script>
<% include ../partials/footer %>