<% include ../partials/header %>

<div class="filter"></div>
<div class="row">
    <div class="col-12">
        <h1 class="formHeader"><%= stranger.firstName + " " + stranger.lastName %></h1>
        <% if(group && group.name !== "") { %>
            <div style="margin: -15px 0 20px;"> 
                <h4 class="subListHeader">Group affiliation: <%= group.name %></h4>
            </div>
        <% } %>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12 col-lg-6">
        <h5 style="margin-bottom: 15px;">General</h5>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="showPage">
                    <div class="show-group-border">
                        <% if(stranger.race && stranger.race !== "") { %>    
                            <h6 class="titleForItem">Race</h6>
                            <input class="form-control" value="<%= stranger.race %>" disabled>
                        <% } %>
                        <% if(stranger.meetArea && stranger.meetArea !== "") { %>    
                            <h6 class="titleForItem">First encountered</h6>
                            <input class="form-control" value="<%= stranger.meetArea %>" disabled>
                        <% } %>
                        <% if(stranger.mentality && stranger.mentality !== "") { %>    
                            <h6 class="titleForItem">Mentality</h6>
                            <input class="form-control" value="<%= stranger.mentality %>" disabled> 
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="showPage">
                    <div class="show-group-border">
                        <% if(stranger.occupation && stranger.occupation !== "") { %>    
                            <h6 class="titleForItem">Occupation</h6>
                            <input class="form-control" value="<%= stranger.occupation %>" disabled>
                        <% } %>
                        <% if(stranger.nation && stranger.nation !== "") { %>    
                            <h6 class="titleForItem">Nationality</h6>
                            <input class="form-control" value="<%= stranger.nation %>" disabled>
                        <% } %>
                        <% if(stranger.socialRank && stranger.socialRank !== "") { %>    
                            <h6 class="titleForItem">Social Rank</h6>
                            <input class="form-control" value="<%= stranger.socialRank %>" disabled>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-lg-6">
        <h5 style="margin-bottom: 15px;">Appearance</h5>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">    
                <div class="showPage">
                    <div class="show-group-border">
                        <% if(stranger.born && list.currentAge - stranger.born !== 0) { %>    
                            <h6 class="titleForItem">Age</h6>
                            <input class="form-control" value="<%= list.currentAge - stranger.born %>" disabled>
                        <% } %>
                        <% if(stranger.height && stranger.height !== 0) { %>    
                            <h6 class="titleForItem">Height</h6>
                            <input class="form-control" value="<%= stranger.height %> cm" disabled>
                        <% } %>
                        <% if(stranger.weight && stranger.weight !== 0) { %>    
                            <h6 class="titleForItem">Weight</h6>
                            <input class="form-control" value="<%= stranger.weight %> kg" disabled>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6">    
                <div class="showPage">
                    <div class="show-group-border">
                        <% if(stranger.eye && stranger.eye !== "") { %>    
                            <h6 class="titleForItem">Eye color</h6>
                            <input class="form-control" value="<%= stranger.eye %>" disabled> 
                        <% } %>
                        <% if(stranger.hair && stranger.hair !== "") { %>    
                            <h6 class="titleForItem">Hair color</h6>
                            <input class="form-control" value="<%= stranger.hair %>" disabled> 
                        <% } %>
                        <% if(stranger.build && stranger.build !== "") { %>    
                            <h6 class="titleForItem">Build</h6>
                            <input class="form-control" value="<%= stranger.build %>" disabled> 
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="showPage">
            <div class="show-group-border">
                <% if(stranger.skills && stranger.skills !== "") { %>    
                    <h6 class="titleForItem">General info</h6>
                    <textarea class="form-control correctAlignment" rows="6" cols="50" disabled><%= stranger.bio %></textarea> 
                <% } %>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="showPage">
            <div class="show-group-border">
                <% if(stranger.skills && stranger.skills !== "") { %>    
                    <h6 class="titleForItem">Family</h6>
                    <textarea class="form-control correctAlignment" rows="6" cols="50" disabled><%= stranger.family %></textarea> 
                <% } %>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="showPage">
            <div class="show-group-border">
                <% if(stranger.skills && stranger.skills !== "") { %>    
                    <h6 class="titleForItem">Skills</h6>
                    <textarea class="form-control correctAlignment" rows="6" cols="50" disabled><%= stranger.skills %></textarea> 
                <% } %>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="showPage">
            <div class="show-group-border">
                <% if(stranger.skills && stranger.skills !== "") { %>    
                    <h6 class="titleForItem">Equipment</h6>
                    <textarea class="form-control correctAlignment" rows="6" cols="50" disabled><%= stranger.equipment %></textarea> 
                <% } %>
            </div>
        </div>
    </div>
</div>

</div>
<div class="row">
    <div class="col-md-12">
        <% if (currentUser && stranger.author.id.equals(currentUser._id)) { %>
            <a class="btn btn-dark btn-sm editButton" href="/lists/<%= list._id %>/strangers/<%= stranger._id %>/edit">Edit</a>
            <a class="btn btn-dark btn-sm deleteButton" href="#">Delete</a>

            <div class="confirmForm hidden">
                <form class="formHidden">
                    <input class="form-control-sm" type="text" name="confirmText" aria-describedby="textConfirm" autocomplete="off" autofocus>
                    <small class="textConfirm" class="form-text text-muted">
                    Type First Name To Confirm
                    </small>
                    <input type="hidden" name="equals" value="<%= stranger.firstName %>">
                </form>
                <form class="btn-inline hidden confirmButton" action="/lists/<%= list._id %>/strangers/<%= stranger._id %>/?_method=DELETE" method="POST">
                    <button class="btn btn-danger btn-sm confirmDelete" >Confirm</button>
                </form>
            </div>
        <% } %>   
    </div>      
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-sm btn-info backButton" href="/lists/<%= list._id %>/">Back</a>
    </div>
</div>

<script src="/scripts/confirm.js"></script>
<% include ../partials/footer %>