<% include ../partials/header %>

<div class="filter"></div>
<div class="row">
    <div class="col-12">
        <h1 class="formHeader"><%= group.name %></h1>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-md-3 col-lg-3"></div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="showPage justify-content-center">
            <div class="show-group-border">   
                <h6 class="titleForItem">Description</h6>
                <textarea class="form-control correctAlignment" rows="6" cols="50" disabled><%= group.desc %></textarea> 
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="showPage justify-content-center">
            <div class="show-group-border">
                <h6 style="color: white;" class="titleForItem>">Members</h6>
                <% stranger.forEach((stranger) => { %>
                    <p style="color: white;">
                        <a href="/lists/<%= list._id %>/strangers/<%= stranger._id %>">
                            <%= stranger.firstName + " " + stranger.lastName %>
                        </a>
                    </p>
                <% }) %>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-3"></div>
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4"></div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <% if (currentUser && group.author.id.equals(currentUser._id)) { %>
            <a class="btn btn-dark btn-sm editButton" href="/lists/<%= list._id %>/groups/<%= group._id %>/edit">Edit</a>
            <a class="btn btn-dark btn-sm deleteButton" href="#">Delete</a>
 
            <div class="confirmForm hidden">
                <form class="formHidden">
                    <input class="form-control-sm" type="text" name="confirmText" aria-describedby="textConfirm" autocomplete="off" autofocus>
                    <small class="textConfirm" class="form-text text-muted">
                    Type Name To Confirm
                    </small>
                    <input type="hidden" name="equals" value="<%= group.name %>">
                </form>
                <form class="btn-inline hidden confirmButton" action="/lists/<%= list._id %>/groups/<%= group._id %>/?_method=DELETE" method="POST">
                    <button class="btn btn-danger btn-sm confirmDelete" >Confirm</button>
                </form>
            </div>
        <% } %>   
    </div>      
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-4"></div>
<div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4"></div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <a class="btn btn-sm btn-info backButton" href="/lists/<%= list._id %>/groups/">Back</a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4"></div>
</div>

<script src="/scripts/confirm.js"></script>
<% include ../partials/footer %>