<% include ../partials/header %>

<div class="filter"></div>
<div class="row">
    <div class="col-12">
        <h1 class="formHeader"><%= group.name %></h1>
    </div>
</div>
    <div class="row">
        <div class="col-md-12 infoContainer">
            <div class="row justify-content-center">

            <div class="col-sm-6 col-md-4 col-lg-3 strangerInfo">                
                <h6>Description</h6>
                <p><%= group.desc %></p>    
            </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <% if (currentUser && group.author.id.equals(currentUser._id)) { %>
            <a class="btn btn-dark btn-sm editButton" href="/lists/<%= list._id %>/groups/<%= group._id %>/edit">Edit</a>
            <a class="btn btn-dark btn-sm deleteButton" href="#">Delete</a>

            <div class="confirmForm hidden">
                <form class="formHidden">
                    <input class="form-control-sm" type="text" name="confirmText" aria-describedby="textConfirm" autocomplete="off" autofocus>
                    <small class="textConfirm" class="form-text text-muted">
                    Type Name To Confirm
                    </small>
                    <input type="hidden" name="equals" value="<%= group.name %>">
                </form>
                <form class="btn-inline hidden confirmButton" action="/lists/<%= list._id %>/groups/<%= group._id %>/?_method=DELETE" method="POST">
                    <button class="btn btn-danger btn-sm confirmDelete" >Confirm</button>
                </form>
            </div>
        <% } %>   
    </div>      
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-sm btn-info backButton" href="/lists/<%= list._id %>/groups/">Back</a>
    </div>
</div>

<script src="/scripts/confirm.js"></script>
<% include ../partials/footer %>